.error{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,255,4);
background: linear-gradient(90deg, rgba(0,255,4,1) 0%, rgba(0,194,123,1) 12%, rgba(0,196,187,1) 22%, rgba(0,84,199,1) 35%, rgba(115,0,209,1) 46%, rgba(229,64,195,1) 73%, rgba(255,0,82,1) 100%);
position: relative;
}
.error .errorPoint{
    text-align: right;
    list-style: none;
}
.error.error2{
    background-color: transparent;
    background-image: url('./yellow-dry-dates-ceramic-dish_114579-25138.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
}
.error .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}